$back:#181818;
$t-yellow:#F3B220;
$t-gray:#DADADA;
$footer:#1F1F1F;
$form-center:#121212;
$background-news:#121212;
$news-item:#1F1F1F;
$news-description: #A6A6A6;
$green-rating:#85BE28;
$red-rating:#EC203D;