@mixin font-face($font-family, $file-path, $weight: normal, $style: normal ) {
    @font-face{
        font-family: $font-family;
        src: url('#{$file-path}.woff2');
        font-weight: $weight;
        font-style: $style;
    }
}
@include font-face ("Roboto","../fonts/roboto-300",300);
@include font-face("Roboto", "../fonts/roboto-regular", 400);
@include font-face("Roboto", "../fonts/roboto-500", 500);


