.header {
  background: $back;
  width: 100%;
  box-shadow: 0px 1px 4px #3C3C3C;

  .header-wrap {
    padding-top: 1.6rem;
    display: flex;
    align-items: center;
    padding-bottom: 1.6rem;
    justify-content: space-between;

    .left-nav {
      display: flex;
      align-items: center;

      &__logo {}

      &__navigation {
        padding-left: 6.1rem;

        &-link {
          display: inline-block;
          margin-right: 2.2rem;

          &:last-of-type {
            padding-right: 0;
          }
        }
      }
    }

    .profile-nav {
      display: flex;
      align-items: center;
      position: relative;

      &__notification {
        display: inline-block;

        &-pic {
          display: block;
          margin-right: 2rem;
        }
      }

      &__userphoto {
        display: inline-block;
        margin-right: 1.4rem;

        &-pic {
          width: 4rem;
          height: 4rem;

        }
      }

      &__dropdown {
        display: inline-block;

        &-pic {
          width: 1.2rem;
          height: .8rem;
        }
      }

      &__submenu {
        display: none;
        position: absolute;
        width: 183px;
        height: 300px;
        top: 2.6rem;
        right: 0;

        .drop-submenu {
          margin-top: 4rem;

          &__item {
            background: #1F1F1F;

            &-move-profile {
              padding: .7rem 0 .7rem 1.1rem;
              display: block;
              background: #121212;
              box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.01);
              border-radius: 2px 2px 0px 0px;
            }

            &-profile {
              padding-left: 1.1rem;
              display: flex;
              flex-direction: column;
              padding-top: .7rem;

              &-link {
                display: inline-block;
                padding-bottom: .6rem;

                &-pic {
                  display: inline-block;
                  margin-right: .6rem;

                }
              }
            }

            &-exit {
              text-align: center;
              padding: .7rem;
              display: block;
              background: #121212;
              border-radius: 0px 0px 2px 2px;
            }
          }
        }
      }
    }
  }
}