.slider {
    padding-top: 4rem;

    &__item {
        background-image: url(..//img/slide.jpg);
        width: 100%;
        height: 200px;
        border-radius: 3px;
        position: relative;        
        

        &-logo {
            padding-top: 2rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 2;
            &-pic{
                max-width: 33.6rem;
            }
        }

        &::after {
            content: '';
            position: absolute;
            background: radial-gradient(50% 50% at 50% 50%, rgba(19, 16, 16, 0) 0%, rgba(133, 133, 133, 0) 0.01%, rgba(0, 0, 0, 0) 0.02%, rgba(13, 13, 13, 0.310309) 19.27%, rgba(24, 24, 24, 0.59) 100%, rgba(24, 24, 24, 0.59) 100%);
            box-shadow: 0px 4px 4px rgba(60, 60, 60, 0.25);
            width: 100%;
            height: 200px;
            top: 0;
            left: 0;
            right: 0;
            z-index: 0;
        }

    }

    .slick-dots li.slick-active button:before {
        background: #F3B220;
        border: 2px solid #FFB946;
        opacity: 1;
    }

    .slick-dots li button:before {
        border: 2px solid #FFB946;
    }

    .slick-dots {
        padding-top: 1rem;
    }

    .slick-slide {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}