@import "normalize";
@import "fonts";
@import "colors";
@import "items";
@import "header";
@import "footer";
@import "modals";
@import "index";
@import "news";
@import "setting";
@import "news-list";
@import "slick-theme";
@import "slick";
@import "./jquery.fancybox.css";



html {
  font-size: 10px;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  background: #181818 url(..//img/background.jpg) center top / auto no-repeat;
  width: 100%;
}

img{
  vertical-align: 0;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}




@import "media";