#overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 999;
  -webkit-animation: fade .6s;
  -moz-animation: fade .6s;
  animation: fade .6s;
  overflow: hidden;
  overflow-y: hidden;

  .reg-wrap {
    position: relative;
    top: 25vh;
    display: flex;
    justify-content: center;

    .form-registr {
      display: flex;

      &__leftside {
        background: url(..//img/joystick.jpg);
        width: 327px;
        height: 372px;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__rightside {
        .info {
          background: $form-center;

          &__header {
            padding: 1rem 0 0;
            padding-left: 3rem;
            width: 327px;
            background: $footer;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 0px 3px 0px 0px;
            position: relative;


            &-tab {
              position: relative;
              margin-right: 4rem;
              padding-bottom: 1rem;
              cursor: pointer;


              &:after {
                display: block;
                content: "";
                position: absolute;
                width: .1rem;
                height: 1.6rem;
                top: 0;
                right: -2.5rem;
                background: rgba(255, 255, 255, 0.5);
              }

              &:last-of-type {
                margin-right: 0;

                &::after {
                  display: none;
                }
              }
            }

            &-close {
              position: absolute;
              right: 1rem;
              border: none;
              outline: none;
              background: transparent;
              cursor: pointer;
            }
          }

          &__tabcontent {
            width: 26.6rem;
            margin: 0 auto;


            .entry,
            .registr {

              .join,
              .list {
                display: flex;
                flex-direction: column;
                padding-top: 4.5rem;


                &__item {
                  display: flex;
                  flex-direction: column;
                  padding-bottom: .5rem;
                  position: relative;

                  &:last-of-type {
                    padding-bottom: 0;
                  }

                  &-text {
                    display: block;
                  }

                  &-field {
                    padding-left: .7rem;
                    margin-top: .5rem;
                    display: block;
                    width: 100%;
                    height: 30px;
                    border: none;
                    outline: none;
                    border: 0.5px solid rgba(255, 255, 255, 0.5);
                    box-sizing: border-box;
                    border-radius: 2px;
                    background: #5E5E5E;

                    &:focus {
                      background: transparent;
                    }
                  }
                }
              }

              .check {
                display: flex;
                align-items: center;
                padding-top: 1rem;

                &__checkbox {
                  display: none;

                  &:checked+.check__text {
                    &:before {
                      background: #FFB946 url(..//img/check.svg) center center / 80% no-repeat;

                    }
                  }
                }

                &__text {
                  width: 100%;
                  position: relative;
                  padding-left: 2.4rem;


                  &::before {
                    content: "";
                    display: block;
                    border-radius: 0;
                    -webkit-appearance: none;
                    top: -.1rem;
                    left: 0;
                    width: 1.5rem;
                    height: 1.5rem;
                    border: 0.5px solid #FFFFFF;
                    position: absolute;

                  }
                }
              }

              .button {
                display: block;
                padding-top: 1rem;

                &__come {
                  width: 100%;
                  height: 4.2rem;
                  font-family: "Roboto", sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 18px;
                  line-height: 21px;
                  color: #181818;
                  background: #F3B220;
                  border-radius: 2px;
                  border: none;
                  outline: none;

                  &:disabled {
                    background: gray;
                  }
                }
              }
            }

            &-link {
              display: inline-block;
              padding-top: 2rem;
              padding-bottom: 7.1rem;
            }

            .registr {

              .list {
                padding-top: 1rem;
              }

              .check {

                &__text {
                  padding-left: 2.6rem;

                  &::before {
                    top: .1rem;
                    width: 2rem;
                    height: 2rem;
                    border: 0.5px solid rgba(255, 255, 255, 0.5);
                  }

                  &-link {
                    text-decoration: underline;
                  }
                }
              }

              .button {
                padding-bottom: 1.9rem;
              }
            }
          }
        }
      }
    }
  }
}

#name-error,
#pass-error,
#login-error,
#pass-reg-error,
#pass-repeat-reg-error,
#email-reg-error {
  position: absolute;
  top: 1.8rem;
  left: 28rem;
  background: #FFBC25;
  box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.25);
  border-radius: 1px;
  color: #181818;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 1rem .8rem;
  width: max-content;

  &::before {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    top: 1.4rem;
    left: -.5rem;
    background: #FFBC25;
    border-radius: 0px;
    transform: matrix(0.71, -0.71, 0.7, 0.71, 0, 0);
  }
}

.modal {
  display: none;
}

.check-mail {
  width: 48rem;
  background: $form-center;
  border-radius: 3px;

  &__header {
    border-bottom: 2px solid rgba(206, 206, 206, 0.3);
    text-align: center;
    position: relative;

    &-text {
      display: block;
      padding: 1rem 0;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      color: #DADADA;
    }
  }

  &__info {
    padding-top: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 2.2rem;
    &-email {
      font-family: "Roboto",sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #DADADA;
      padding-bottom: .8rem;
    }
  }

}

.fancybox-content {
  padding: 0 !important;
}
.fancybox-slide--html .fancybox-close-small{

  path{
    fill:#DCDCDC;
  }
}