.back-news {
    padding-top: 8.8rem;

    &__link {
        display: flex;
        align-items: center;

        &-block {
            width: 15.38px;
            height: 15.38px;
            border: 3px solid #FFBC25;
            box-sizing: border-box;
            transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
            border-right: none;
            border-top: none;
        }

        &-text {
            padding-left: .624rem;
        }
    }
}

.news-item {
    margin-top: 2rem;
    width: 100%;
    background: #121212;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1px;

    .news-wrap {
        padding-top: 2rem;
        display: flex;
        justify-content: space-between;
        padding-right: 1.9rem;

        .news-description {
            width: 79.8rem;

            &__headline {
                display: flex;

                &-palka {
                    width: 1rem;
                    background: $t-yellow;
                }

                &-text {
                    padding-left: 1.3rem;
                }
            }

            &__content {
                margin-top: 2rem;
                background: #1F1F1F;
                border-radius: 3px;
                margin-bottom: 2rem;
                margin-left: 2.3rem;

                &-pic {
                    &-img {
                        display: block;
                        width: 100%;
                    }
                }

                &-text {
                    padding: 1.5rem;

                    &-article {
                        padding-bottom: 2rem;

                        &:last-of-type {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.other-news {
    margin-top: 1.5rem;
    background: #121212;

    .some-news-description {
        padding: 2rem;
        display: flex;
        justify-content: space-between;

        &__item {
            width: 26rem;
            background: #1F1F1F;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 1rem;

            &-pic {
                width: 100%;
                vertical-align: top;
            }

            &-text {
                display: inline-block;
                padding-top: 1rem;
                /* тень */
                max-width: 23.6rem;
                margin: 0 auto;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

            }
        }
    }
}

.comments {
    margin-top: 1.5rem;
    background: #121212;
    padding-bottom: 3rem;
    margin-bottom: 3rem;

    &__headline {
        padding-top: 1rem;
    }

    .comment-block {
        padding-top: 2rem;
        padding-left: 3rem;
        width: 81.6rem;

        .form-comment {
            padding-bottom: 1.5rem;
            border: 1px solid rgba(218, 218, 218, 0.5);
            border-top: none;
            border-left: none;
            border-right: none;

            .top-side {
                display: flex;

                &__avatar {}

                &__text-field {
                    display: block;
                    margin-left: 2rem;
                    width: 100%;

                    &-item {
                        display: block;
                        box-sizing: border-box;
                        width: 100%;
                        height: 119px;
                        border: none;
                        outline: none;
                        background: #1F1F1F;
                        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
                        border-radius: 1px;
                        padding: 1rem;
                        font-family: "Roboto", sans-serif;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 21px;
                        color: rgba(218, 218, 218, 0.3);
                        resize: none;
                    }
                }
            }

            &__btn {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                margin-top: 1rem;

                &-item {
                    display: block;
                    width: 165px;
                    height: 30px;
                    background: #F3B220;
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
                    border-radius: 3px;
                    font-family: "Roboto", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 21px;
                    color: #121212;
                    border: none;
                    outline: none;
                }
            }
        }


    }

    .comment-list {
        margin-left: 3rem;
        width: 81.6rem;
        display: flex;
        flex-direction: column;


        .main-comment {
            margin-top: 1.5rem;
            .header-comment {
                background: #1F1F1F;
                border-radius: 1px 1px 0px 0px;
                padding: .7rem 0 1rem 1rem;
                display: flex;
                justify-content: space-between;

                .profile {
                    display: flex;

                    .rewiev-wrap {
                        padding-left: 1rem;

                        &__title {

                            &-reply {
                                padding-left: 1.5rem;
                                display: inline-block;
                                font-family: "Roboto", sans-serif;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 16px;

                                color: rgba(218, 218, 218, 0.3);
                            }
                        }

                        &__data-published {
                            display: inline-block;
                            padding-top: .5rem;
                            font-family: "Roboto", sans-serif;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 16px;

                            color: #DADADA;
                        }
                    }
                }

                .comment-rating {
                    padding-right: 1.5rem;
                    display: flex;
                    align-items: center;
                    height: min-content;

                    &__plus {

                        margin-right: .94rem;
                    }

                    &__number {
                        margin-right: 1.06rem;
                    }

                    &__minus {
                        margin-top: -.7rem;
                    }
                }
            }

            .text-comment {
                background: #181818;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 0px 0px 1px 1px;
                border-radius: 1px;
                padding-top: 1rem;

                &__content {
                    display: inline-block;
                    padding: 1rem;

                    &-author{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}