.news-header {
    padding-top: 3.8rem;
    display: flex;
    align-items: center;

    &__stick {
        width: 1rem;
        height: 4.2rem;
        background: $t-yellow;
    }

    &__text {
        padding-left: 1.1rem;
    }

}

.content-news {

    .news-info {

        &__header {
            padding-top: 1rem;
            padding-left: 2.1rem;

            &-tab {
                box-sizing: border-box;
                cursor: pointer;
                margin-right: 2rem;

                &:first-of-type{
                    color:$t-yellow;
                }

                &:last-of-type {
                    padding-right: 0;
                }

                padding-bottom: 1rem;
            }
        }

        &__tabcontent {
            margin-top: 1rem;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            background: $background-news;
            padding-bottom: 3.2rem;

            .news-container {
                padding-top: 2rem;
                width: 100%;
                max-width: 110.5rem;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;

                .main-news {

                    &__list {
                        width: 100%;
                        max-width: 80.5rem;
                        height: min-content;
                        background: $news-item;
                        border-radius: 1px;
                        display: flex;
                        margin-bottom: 1.5rem;

                        &:last-of-type {
                            margin-bottom: 0;
                        }

                        &-prew {

                            &-logo {
                                vertical-align: 0;
                            }
                        }

                        .news-info {
                            padding-top: 1rem;
                            padding-left: 2rem;
                            padding-bottom: 1.5rem;
                            display: flex;
                            flex-direction: column;

                            &__headline {
                                max-width: 46.7rem;
                            }

                            &__description {
                                display: block;
                                padding-top: .5rem;
                                max-width: 38rem;
                            }

                            .news-footer {
                                padding-top: 4.2rem;
                                display: flex;
                                justify-content: space-between;
                                padding-right: 1.5rem;

                                &__comment {
                                    display: flex;
                                    align-items: center;

                                    &-number {
                                        padding-left: .5rem;
                                    }

                                    &-text {
                                        padding-left: .4rem;
                                    }
                                }
                            }
                        }
                    }
                }

                &__thematic-news {
                    width: 28rem;

                    .news-content {
                        display: flex;
                        flex-direction: column;

                        &__filter-name {

                            background: #F3B220;
                            /* тень */
                            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                            border-radius: 3px 3px 0px 0px;
                            text-align: center;

                            &-text {
                                display: inline-block;
                                padding: .8rem 0 .7rem;
                            }
                        }

                        &__item {
                            background: #1F1F1F;
                            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                            border-radius: 3px;
                            margin-bottom: 1.5rem;

                            &-info {
                                padding: 1rem;

                                &-headline {}

                                &-description {
                                    display: inline-block;
                                    padding-top: .5rem;
                                }
                            }
                        }
                    }
                }

            }

        }

        .show-more {
            display: flex;
            margin-top: 3.2rem;
            background: rgba(243, 178, 32, 0.75);
            border-radius: 2px;
            text-align: center;
            padding:1.1rem 2rem;
            justify-content: space-between;
            margin-bottom: 13.6rem;

            &__pic {
                width: 21.58px;
                height: 21.58px;
                border: 3px solid #121212;
                box-sizing: border-box;
                transform: rotate(45deg);
                border-top: none;
                border-left: none;
            }
        }
    }
}