{% extends 'html5.html' %}
{% load static %}
{% block html_body %}

<div></div>
<header class="header">
  <div class="header-wrap  wrapper">
    <div class="left-nav">
      <div class="left-nav__logo">
        <img src="{% static 'img/logo.svg' %}" alt="Логотип">
      </div>
      {% block header_nav %}
      <nav class="left-nav__navigation">
        <a href="#" class="left-nav__navigation-link nav-text">Турниры</a>
        <a href="#" class="left-nav__navigation-link nav-text">Новости</a>
        <a href="#" class="left-nav__navigation-link nav-text">Магазин</a>
      </nav>
      {% endblock %}
    </div>
    {% block header_profile %}
    <a href="" class="nav-text" id="enter">Вход</a>
    {% endblock %}
  </div>
</header>
{% block content %}{% endblock %}


<footer class="footer">
  <div class="footer-wrap">
    <div class="footer-wrap__soc">
      <a href="#" class="footer-wrap__soc-logo">
        <img src="{% static 'img/logo.svg' %}" alt="">
      </a>
      <div class="footer-wrap__soc-link">
        <a href="#" class="footer-wrap__soc-link-item">
          <img src="{% static 'img/twitch.svg' %}" alt="">
        </a>
        <a href="#" class="footer-wrap__soc-link-item">
          <img src="{% static 'img/vk.svg' %}" alt="">
        </a>
        <a href="#" class="footer-wrap__soc-link-item">
          <img src="{% static 'img/youtube.svg' %}" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="contacts">
    <div class="contacts__leftside">
      <a href="" class="contacts__leftside-link nav-text">Политика конфиденциальности и Cookies</a>
      <a href="" class="contacts__leftside-link nav-text">Условия использования</a>
      <a href="" class="contacts__leftside-link nav-text">Контакты</a>
    </div>

    <div class="contacts__rightside nav-text">
      <span>
        Copyright © 2019 - 2019 redy4play LLC. All rights reserved
      </span>
    </div>
  </div>
</footer>

<div id="overlay" class="overlay">
  <div class="reg-wrap">
    <div class="form-registr">
      <div class="form-registr__leftside">
        <img src="{% static 'img/logo-form.svg' %}" alt="">
      </div>
      <div class="form-registr__rightside">
        <div class="info">
          <div class="info__header">
            <div class="info__header-tab non-border nav-text nav-text--formtext" id="tab-enter">Вход</div>
            <div class="info__header-tab nav-text nav-text--formtext" id="tab-reg">Регистрация</div>
            <button type="button" class="info__header-close">
              <img src="{% static 'img/close.svg' %}" alt="">
            </button>
          </div>
          <div class="info__tabcontent">
            <form action="" class="entry" id="entry">
              <div class="join">
                <div class="join__item">
                  <label for="name" class="join__item-text nav-text nav-text--formtext">
                    Имя
                    <input type="text" class="" class="join__item-field input-text" placeholder="Имя" id="name" required
                      required name="username">
                  </label>
                </div>
                <div class="join__item">
                  <label for="pass" class="join__item-text nav-text nav-text--formtext">
                    Пароль
                    <input type="password" class="" class="join__item-field input-text" placeholder="Пароль" id="pass"
                      name="password">
                  </label>
                </div>
              </div>
              <div class="check">
                <input type="checkbox" id="allow" class="check__checkbox">
                <label for="allow" class="check__text input-text input-text--remember-me">
                  Запомнить меня
                </label>
              </div>

              <div class="button">
                <button type="submit" class="button__come">
                  Войти
                </button>
              </div>
            </form>
            <a href="#" class="info__tabcontent-link input-text input-text--forgotpass">
              Забыли пароль?
            </a>
          </div>

          <div class="info__tabcontent">
            <form action="" class="registr" id="registr">
              <div class="list">
                <div class="list__item">
                  <label for="login" class="list__item-text nav-text nav-text--formtext">
                    Логин
                    <input type="text" class="" class="list__item-field input-text" placeholder="Логин" id="login"
                      required name="login">
                  </label>
                </div>
                <div class="list__item">
                  <label for="pass-reg" class="list__item-text nav-text nav-text--formtext">
                    Пароль
                    <input type="password" class="" class="list__item-field input-text" placeholder="Пароль"
                      id="pass-reg" required name="password">
                  </label>
                </div>
                <div class="list__item">
                  <label for="pass-repeat-reg" class="list__item-text nav-text nav-text--formtext">
                    Повторите пароль
                    <input type="password" class="" class="list__item-field input-text" placeholder="Повторите пароль"
                      id="pass-repeat-reg" required name="password_sec">
                  </label>
                </div>
                <div class="list__item">
                  <label for="email-reg" class="list__item-text nav-text nav-text--formtext">
                    Почтовый адрес
                    <input type="email" class="" class="list__item-field input-text" placeholder="Почтовый адрес"
                      id="email-reg" required name="email">
                  </label>
                </div>
              </div>
              <div class="check">
                <input type="checkbox" id="allow-reg" class="check__checkbox">
                <label for="allow-reg" class="check__text input-text input-text--rules">
                  Я принимаю <span class="check__text-link input-text input-text--rules">правила обработки персональных
                    данных</span>
                </label>
              </div>

              <div class="button">
                <button type="submit" class="button__come" disabled>
                  Зарегистрироваться
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="check-mail modal" id="checkmail">
  <div class="check-mail__header">
    <span class="check-mail__header-text">
      Проверьте почту
    </span>
  </div>
  <div class="check-mail__info">
    <span class="check-mail__info-email">
      IvanovIvan@mail.ru
    </span>
    <img src="{% static 'img/email.svg' %}" alt="">
  </div>

</div>

{% endblock %}