{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <title>{% block page_title %}{% endblock %}</title>
  <meta name="description" content="read4play">
</head>

<body>
  <div class="root">
    {% block html_body %}{% endblock %}
  </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>


</html>