{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="slider wrapper">
    <div class="slider__item">
        <div class="slider__item-logo">
            <img src="{% static 'img/logo-big.svg' %}" alt="" class="slider__item-logo-pic">
        </div>
    </div>

    <div class="slider__item">

    </div>

    <div class="slider__item">

    </div>
    <div class="slider__item">
    </div>
</div>
{% endblock %}