{% extends 'base.html' %}

{% load static %}
{% block page_title %}Новости{% endblock %}
{% block header_nav %}
<nav class="left-nav__navigation">
  <a href="#" class="left-nav__navigation-link nav-text">Турниры</a>
  <a href="#" class="left-nav__navigation-link nav-text nav-text--header-active">Новости</a>
  <a href="#" class="left-nav__navigation-link nav-text">Магазин</a>
</nav>
{% endblock %}
{% block header_profile %}
<div class="profile-nav">
  <a href="#" class="profile-nav__notofication">
    <img src="{% static 'img/bell.svg' %}" alt="Уведомления" class="profile-nav__notification-pic">
  </a>

  <a href="#" class="profile-nav__userphoto">
    <img src="{% static 'img/avatar-header.png' %}" alt="" class="profile-nav__userphohto-pic">
  </a>

  <a href="#" class="profile-nav__dropdown">
    <img src="{% static 'img/triangle.svg' %}" alt="" class="profile-nav__dropdown-pic">
  </a>

  <div class="profile-nav__submenu">
    <div class="drop-submenu">
      <div class="drop-submenu__item">
        <a href="" class="drop-submenu__item-move-profile drop-text">Перейти в профиль</a>
        <div class="drop-submenu__item-profile">
          <a href="" class="drop-submenu__item-profile-link drop-text">
            <img src="{% static 'img/profile.svg' %}" alt="" class="drop-submenu__item-profile-link-pic svg">
            Профиль
          </a>
          <a href="" class="drop-submenu__item-profile-link drop-text">
            <img src="{% static 'img/tournaments.svg' %}" alt="" class="drop-submenu__item-profile-link-pic svg">
            Мои турниры
          </a>
          <a href="" class="drop-submenu__item-profile-link drop-text">
            <img src="{% static 'img/profile.svg' %}" alt="" class="drop-submenu__item-profile-link-pic svg">
            Заявки и приглашения
          </a>
          <a href="" class="drop-submenu__item-profile-link drop-text">
            <img src="{% static 'img/settings.svg' %}" alt="" class="drop-submenu__item-profile-link-pic svg">
            Настройки
          </a>
        </div>
        <a href="#" class="drop-submenu__item-exit drop-text">Выход</a>
      </div>

    </div>
  </div>

</div>
{% endblock %}

{% block content %}
<div class="news-header wrapper">
  <div class="news-header__stick">

  </div>
  <h1 class="news-header__text header-title">
    Новости
  </h1>
</div>

<section class="content-news wrapper">
  <div class="news-info">
    <div class="news-info__header">
      <span class="news-info__header-tab nav-text nav-text--active non-border">Все новости</span>
      <span class="news-info__header-tab nav-text">Игровые</span>
      <span class="news-info__header-tab nav-text">Кино</span>
      <span class="news-info__header-tab nav-text">Скидки</span>
    </div>

    <div class="news-info__tabcontent">

      <div class="news-container">
        <div class="main-news">
          <div class="main-news__list">
            <div class="main-news__list-prew">
              <img src="{% static 'img/news-logo.jpg' %}" alt="" class="main-news__list-prew-logo">
            </div>
  
            <div class="news-info">
              <span class="news-info__headline headline-news">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
              </span>
              <span class="news-info__description description-news">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
              </span>
              <div class="news-footer">
                <div class="news-footer__date">
                  <div class="news-footer__date-link">
                    <a href="#" class="news-footer__date-link-data footer-news">
                      14.08.2019 22:15
                    </a>
                    <a href="#" class="news-footer__date-link-filter footer-news">
                      | Игровые новости
                    </a>
  
                  </div>
                </div>
                <a href="#" class="news-footer__comment">
                  <img src="{% static 'img/comment.svg' %}" alt="">
                  <span class="news-footer__comment-number text-comment">
                    20
                  </span>
                  <span class="news-footer__comment-text text-comment">
                    Комментарии
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="main-news__list">
            <div class="main-news__list-prew">
              <img src="{% static 'img/news2.jpg' %}" alt="" class="main-news__list-prew-logo">
            </div>
  
            <div class="news-info">
              <span class="news-info__headline headline-news">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
              </span>
              <span class="news-info__description description-news">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
              </span>
              <div class="news-footer">
                <div class="news-footer__date">
                  <div class="news-footer__date-link">
                    <a href="#" class="news-footer__date-link-data footer-news">
                      14.08.2019 22:15
                    </a>
                    <a href="#" class="news-footer__date-link-filter footer-news">
                      | Игровые новости
                    </a>
  
                  </div>
                </div>
                <a href="#" class="news-footer__comment">
                  <img src="{% static 'img/comment.svg' %}" alt="">
                  <span class="news-footer__comment-number text-comment">
                    20
                  </span>
                  <span class="news-footer__comment-text text-comment">
                    Комментарии
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="main-news__list">
            <div class="main-news__list-prew">
              <img src="{% static 'img/news3.jpg' %}" alt="" class="main-news__list-prew-logo">
            </div>
  
            <div class="news-info">
              <span class="news-info__headline headline-news">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
              </span>
              <span class="news-info__description description-news">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
              </span>
              <div class="news-footer">
                <div class="news-footer__date">
                  <div class="news-footer__date-link">
                    <a href="#" class="news-footer__date-link-data footer-news">
                      14.08.2019 22:15
                    </a>
                    <a href="#" class="news-footer__date-link-filter footer-news">
                      | Игровые новости
                    </a>
  
                  </div>
                </div>
                <a href="#" class="news-footer__comment">
                  <img src="{% static 'img/comment.svg' %}" alt="">
                  <span class="news-footer__comment-number text-comment">
                    20
                  </span>
                  <span class="news-footer__comment-text text-comment">
                    Комментарии
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="main-news__list">
            <div class="main-news__list-prew">
              <img src="{% static 'img/news4.jpg' %}" alt="" class="main-news__list-prew-logo">
            </div>
  
            <div class="news-info">
              <span class="news-info__headline headline-news">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
              </span>
              <span class="news-info__description description-news">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
              </span>
              <div class="news-footer">
                <div class="news-footer__date">
                  <div class="news-footer__date-link">
                    <a href="#" class="news-footer__date-link-data footer-news">
                      14.08.2019 22:15
                    </a>
                    <a href="#" class="news-footer__date-link-filter footer-news">
                      | Игровые новости
                    </a>
  
                  </div>
                </div>
                <a href="#" class="news-footer__comment">
                  <img src="{% static 'img/comment.svg' %}" alt="">
                  <span class="news-footer__comment-number text-comment">
                    20
                  </span>
                  <span class="news-footer__comment-text text-comment">
                    Комментарии
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="main-news__list">
            <div class="main-news__list-prew">
              <img src="{% static 'img/news5.jpg' %}" alt="" class="main-news__list-prew-logo">
            </div>
  
            <div class="news-info">
              <span class="news-info__headline headline-news">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
              </span>
              <span class="news-info__description description-news">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
              </span>
              <div class="news-footer">
                <div class="news-footer__date">
                  <div class="news-footer__date-link">
                    <a href="#" class="news-footer__date-link-data footer-news">
                      14.08.2019 22:15
                    </a>
                    <a href="#" class="news-footer__date-link-filter footer-news">
                      | Игровые новости
                    </a>
  
                  </div>
                </div>
                <a href="#" class="news-footer__comment">
                  <img src="{% static 'img/comment.svg' %}" alt="">
                  <span class="news-footer__comment-number text-comment">
                    20
                  </span>
                  <span class="news-footer__comment-text text-comment">
                    Комментарии
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="main-news__list">
            <div class="main-news__list-prew">
              <img src="{% static 'img/news6.jpg' %}" alt="" class="main-news__list-prew-logo">
            </div>
  
            <div class="news-info">
              <span class="news-info__headline headline-news">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
              </span>
              <span class="news-info__description description-news">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
              </span>
              <div class="news-footer">
                <div class="news-footer__date">
                  <div class="news-footer__date-link">
                    <a href="#" class="news-footer__date-link-data footer-news">
                      14.08.2019 22:15
                    </a>
                    <a href="#" class="news-footer__date-link-filter footer-news">
                      | Игровые новости
                    </a>
  
                  </div>
                </div>
                <a href="#" class="news-footer__comment">
                  <img src="{% static 'img/comment.svg' %}" alt="">
                  <span class="news-footer__comment-number text-comment">
                    20
                  </span>
                  <span class="news-footer__comment-text text-comment">
                    Комментарии
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="main-news__list">
            <div class="main-news__list-prew">
              <img src="{% static 'img/news7.jpg' %}" alt="" class="main-news__list-prew-logo">
            </div>
  
            <div class="news-info">
              <span class="news-info__headline headline-news">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
              </span>
              <span class="news-info__description description-news">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
              </span>
              <div class="news-footer">
                <div class="news-footer__date">
                  <div class="news-footer__date-link">
                    <a href="#" class="news-footer__date-link-data footer-news">
                      14.08.2019 22:15
                    </a>
                    <a href="#" class="news-footer__date-link-filter footer-news">
                      | Игровые новости
                    </a>
  
                  </div>
                </div>
                <a href="#" class="news-footer__comment">
                  <img src="{% static 'img/comment.svg' %}" alt="">
                  <span class="news-footer__comment-number text-comment">
                    20
                  </span>
                  <span class="news-footer__comment-text text-comment">
                    Комментарии
                  </span>
                </a>
              </div>
            </div>
          </div>

          <div class="main-news__list">
            <div class="main-news__list-prew">
              <img src="{% static 'img/news8.jpg' %}" alt="" class="main-news__list-prew-logo">
            </div>
  
            <div class="news-info">
              <span class="news-info__headline headline-news">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
              </span>
              <span class="news-info__description description-news">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
              </span>
              <div class="news-footer">
                <div class="news-footer__date">
                  <div class="news-footer__date-link">
                    <a href="#" class="news-footer__date-link-data footer-news">
                      14.08.2019 22:15
                    </a>
                    <a href="#" class="news-footer__date-link-filter footer-news">
                      | Игровые новости
                    </a>
  
                  </div>
                </div>
                <a href="#" class="news-footer__comment">
                  <img src="{% static 'img/comment.svg' %}" alt="">
                  <span class="news-footer__comment-number text-comment">
                    20
                  </span>
                  <span class="news-footer__comment-text text-comment">
                    Комментарии
                  </span>
                </a>
              </div>
            </div>
          </div>

        </div>        

        <div class="news-container__thematic-news">
          <div class="news-content">
            <div class="news-content__filter-name">
              <span class="news-content__filter-name-text filter-headline">
                Самое обсуждаемое
              </span>
            </div>
            <div class="news-content__item">
              <div class="news-content__item-prew">
                <img src="{% static 'img/left-menu-prew.jpg' %}" alt="" class="news-content__item-prew-pic">
              </div>
              <div class="news-content__item-info">
                <span class="news-content__item-info-headline description-news description-news--leftside">
                  Похоже, команда S.T.A.L.K.E.R 2 приедет на gamescom 2019
                </span>
                <span class="news-content__item-info-description text-comment text-comment--left-description">
                  Дизайнер уровней GSC Game World Денис Рудой в фейсбуке сообщил о поездке на gamescom 2019, приложив
                  фотографию сумки с логотипом S.T.A.L.K.E.R. 2
                </span>
              </div>
            </div>

            <div class="news-content__item">
              <div class="news-content__item-prew">
                <img src="{% static 'img/left-news.jpg' %}" alt=""
                  class="news-content__item-prew-pic  rounding-pic">
              </div>
              <div class="news-content__item-info">
                <span class="news-content__item-info-headline description-news description-news--leftside">
                  Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
                </span>
                <span class="news-content__item-info-description text-comment text-comment--left-description">
                  Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <a href="#" class="show-more headline-news headline-news--show-more">
      <div class="show-more__pic">

      </div>
      Еще новости
      <div class="show-more__pic">

      </div>
    </a>
  </div>
</section>
{% endblock %}