{% extends 'base.html' %}

{% load static %}
{% block page_title %}Новости{% endblock %}
{% block header_nav %}
<nav class="left-nav__navigation">
    <a href="#" class="left-nav__navigation-link nav-text">Турниры</a>
    <a href="#" class="left-nav__navigation-link nav-text nav-text--header-active">Новости</a>
    <a href="#" class="left-nav__navigation-link nav-text">Магазин</a>
</nav>
{% endblock %}
{% block header_profile %}
<div class="profile-nav">
    <a href="#" class="profile-nav__notofication">
        <img src="{% static 'img/bell.svg' %}" alt="Уведомления" class="profile-nav__notification-pic">
    </a>

    <a href="#" class="profile-nav__userphoto">
        <img src="{% static 'img/avatar-header.png' %}" alt="" class="profile-nav__userphohto-pic">
    </a>

    <a href="#" class="profile-nav__dropdown">
        <img src="{% static 'img/triangle.svg' %}" alt="" class="profile-nav__dropdown-pic">
    </a>

    <div class="profile-nav__submenu">
        <div class="drop-submenu">
            <div class="drop-submenu__item">
                <a href="" class="drop-submenu__item-move-profile drop-text">Перейти в профиль</a>
                <div class="drop-submenu__item-profile">
                    <a href="" class="drop-submenu__item-profile-link drop-text">
                        <img src="{% static 'img/profile.svg' %}" alt=""
                            class="drop-submenu__item-profile-link-pic svg">
                        Профиль
                    </a>
                    <a href="" class="drop-submenu__item-profile-link drop-text">
                        <img src="{% static 'img/tournaments.svg' %}" alt=""
                            class="drop-submenu__item-profile-link-pic svg">
                        Мои турниры
                    </a>
                    <a href="" class="drop-submenu__item-profile-link drop-text">
                        <img src="{% static 'img/profile.svg' %}" alt=""
                            class="drop-submenu__item-profile-link-pic svg">
                        Заявки и приглашения
                    </a>
                    <a href="" class="drop-submenu__item-profile-link drop-text">
                        <img src="{% static 'img/settings.svg' %}" alt=""
                            class="drop-submenu__item-profile-link-pic svg">
                        Настройки
                    </a>
                </div>
                <a href="#" class="drop-submenu__item-exit drop-text">Выход</a>
            </div>

        </div>
    </div>

</div>
{% endblock %}

{% block content %}

<div class="back-news wrapper">
    <a href="#" class="back-news__link">
        <div class="back-news__link-block">

        </div>
        <span class="back-news__link-text filter-headline filter-headline--news-back">
            Вернуться к новостям
        </span>
    </a>
</div>

<section class="news-item wrapper">
    <div class="news-wrap">
        <div class="news-description">
            <div class="news-description__headline">
                <div class="news-description__headline-palka">

                </div>
                <span class="news-description__headline-text header-title">
                    Разработчики Desperados III представили новую героиню — Изабель Моро
                </span>
            </div>
            <div class="news-description__content">
                <div class="news-description__content-pic">
                    <img src="{% static 'img/backnews.png' %}" alt="" class="news-description__content-pic-img">
                </div>
                <div class="news-description__content-text filter-headline filter-headline--news-back">
                    <p class="news-description__content-text-article">
                        Издатель THQ Nordic и разработчики из немецкой студии Mimimi Games опубликовали свежий трейлер
                        Desperados III, в котором представили новую героиню игры — Изабель Моро.
                    </p>
                    <p class="news-description__content-text-article">
                        Изабель родилась и выросла
                        в Новом Орлеане, где овладела оккультными практиками Вуду. Благодаря этому она способна
                        проникать в
                        мысли врагов и контролировать их поступки. Кроме того, она может устанавливать связь между двумя
                        врагами. Если одному перерезать горло, второй тоже истечёт кровью. Однако у такой силы есть своя
                        цена. Изабель расплачивается собственной кровью за то, что делает.
                    </p>
                    <p class="news-description__content-text-article">
                        Напомним, что Desperados III —
                        это сюжетная тактическая игра в реальном времени, сюжет которой рассказывает историю Джона
                        Купера и
                        его банды, а также о суровой жизни на беспощадном Диком Западе. Среди особенностей своей игры
                        разработчики
                    </p>
                </div>
            </div>
        </div>

        <div class="read-more other-thematic-news">
            <div class="news-content">
                <div class="news-content__filter-name">
                    <span class="news-content__filter-name-text filter-headline">
                        Прочти еще
                    </span>
                </div>
                <div class="news-content__item">
                    <div class="news-content__item-prew">
                        <img src="{% static 'img/left-menu-prew.jpg' %}" alt="" class="news-content__item-prew-pic">
                    </div>
                    <div class="news-content__item-info">
                        <span class="news-content__item-info-headline description-news description-news--leftside">
                            Похоже, команда S.T.A.L.K.E.R 2 приедет на gamescom 2019
                        </span>
                        <span class="news-content__item-info-description text-comment text-comment--left-description">
                            Дизайнер уровней GSC Game World Денис Рудой в фейсбуке сообщил о поездке на gamescom 2019,
                            приложив
                            фотографию сумки с логотипом S.T.A.L.K.E.R. 2
                        </span>
                    </div>
                </div>

                <div class="news-content__item">
                    <div class="news-content__item-prew">
                        <img src="{% static 'img/left-news.jpg' %}" alt=""
                            class="news-content__item-prew-pic  rounding-pic">
                    </div>
                    <div class="news-content__item-info">
                        <span class="news-content__item-info-headline description-news description-news--leftside">
                            Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
                        </span>
                        <span class="news-content__item-info-description text-comment text-comment--left-description">
                            Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="other-news wrapper">
    <div class="other-news__headline news-article">
        <div class="other-news__headline-palka news-article-palka">

        </div>
        <span class="other-news__headline-text header-title news-article-text">
            Остальные новости
        </span>
    </div>
    <div class="some-news-description">
        <div class="some-news-description__item">
            <img src="{% static 'img/other-news1.png' %}" alt="" class="some-news-description__item-pic">
            <span class="some-news-description__item-text input-text input-text--forgotpass">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
            </span>

        </div>

        <div class="some-news-description__item">
            <img src="{% static 'img/other-news1.png' %}" alt="" class="some-news-description__item-pic">
            <span class="some-news-description__item-text input-text input-text--forgotpass">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
            </span>

        </div>

        <div class="some-news-description__item">
            <img src="{% static 'img/other-news1.png' %}" alt="" class="some-news-description__item-pic">
            <span class="some-news-description__item-text input-text input-text--forgotpass">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
            </span>

        </div>

        <div class="some-news-description__item">
            <img src="{% static 'img/other-news1.png' %}" alt="" class="some-news-description__item-pic">
            <span class="some-news-description__item-text input-text input-text--forgotpass">
                Создателю Subnautica не удалось получить от G2A 300 тысяч долларов
            </span>

        </div>
    </div>
</section>

<section class="comments wrapper">
    <div class="comments__headline news-article">
        <div class="comments__headline-palka news-article-palka">

        </div>
        <span class="comments__headline-text header-title news-article-text">
            Комментарии
        </span>
    </div>
    <div class="comment-block">
        <form action="" class="" class="form-comment">
            <div class="top-side">
                <div class="top-side__avatar">
                    <img src="{% static 'img/ava-comment.png' %}" alt="">
                </div>
                <label for="leave-comment" class="top-side__text-field">
                    <textarea type="text" name="comment" id="leave-comment" class="top-side__text-field-item"
                        placeholder="Комментарий"></textarea>
                </label>
            </div>

            <div class="form-comment__btn">
                <button type="submit" class="form-comment__btn-item">
                    Отправить
                </button>
            </div>

            <div class="form-comment___end-palka">

            </div>
        </form>
    </div>

    <div class="comment-list">
        <div class="main-comment">
            <div class="header-comment">
                <div class="profile">
                    <div class="profile__avatar">
                        <img src="{% static 'img/comment-logo-profile.png' %}" alt="">
                    </div>

                    <div class="rewiev-wrap">
                        <div class="rewiev-wrap__title">
                            <a href="#" class="rewiev-wrap__title-author description-news description-news--author">
                                LuksorGamer
                            </a>
                            <a href="#" class="rewiev-wrap__title-reply">
                                <img src="{% static 'img/reply.svg' %}" alt="" class="rewiev-wrap__title-reply-pic">
                                Ответить
                            </a>
                        </div>
                        <span class="rewiev-wrap__data-published">
                            24 декабря 2019г., 22:24
                        </span>
                    </div>
                </div>

                <div class="comment-rating">
                    <a href="#" class="comment-rating__plus plus">

                    </a>
                    <span class="comment-rating__number rating">
                        2
                    </span>

                    <a href="#" class="comment-rating__minus plus plus--minus">

                    </a>
                </div>
            </div>
            <div class="text-comment">
                <span class="text-comment__content comments-text">
                    Ну тут можно очень много всего написать оценивая ситуцию в целом
                </span>
            </div>
        </div>

        <div class="main-comment">
            <div class="header-comment">
                <div class="profile">
                    <div class="profile__avatar">
                        <img src="{% static 'img/comment-logo-profile.png' %}" alt="">
                    </div>

                    <div class="rewiev-wrap">
                        <div class="rewiev-wrap__title">
                            <a href="#" class="rewiev-wrap__title-author description-news description-news--author">
                                We Had Love
                            </a>
                            <a href="#" class="rewiev-wrap__title-reply">
                                <img src="{% static 'img/reply.svg' %}" alt="" class="rewiev-wrap__title-reply-pic">
                                Ответить
                            </a>
                        </div>
                        <span class="rewiev-wrap__data-published">
                            Вчера, 10:27
                        </span>
                    </div>
                </div>

                <div class="comment-rating">
                    <a href="#" class="comment-rating__plus plus">

                    </a>
                    <span class="comment-rating__number rating">
                        4
                    </span>

                    <a href="#" class="comment-rating__minus plus plus--minus">

                    </a>
                </div>
            </div>
            <div class="text-comment">
                <span class="text-comment__content comments-text">
                    Астралис это ОГ в CS:GO. Авантюра с Авангардами на ВП не выгорит, я думаю там никакая мотивация не
                    поможет ибо казахи не стиабильны. Жду 2к20 и новых сенсаций, 2к19 был очень скудным на них.
                </span>
            </div>
        </div>

        <div class="main-comment second-answer">
            <div class="header-comment">
                <div class="profile">
                    <div class="profile__avatar">
                        <img src="{% static 'img/comment-logo-profile.png' %}" alt="">
                    </div>

                    <div class="rewiev-wrap">
                        <div class="rewiev-wrap__title">
                            <a href="#" class="rewiev-wrap__title-author description-news description-news--author">
                                MenyaZvali?
                            </a>
                            <a href="#" class="rewiev-wrap__title-reply">
                                <img src="{% static 'img/reply.svg' %}" alt="" class="rewiev-wrap__title-reply-pic">
                                Ответить
                            </a>
                        </div>
                        <span class="rewiev-wrap__data-published">
                            Сегодня, 05:55
                        </span>
                    </div>
                </div>

                <div class="comment-rating">
                    <a href="#" class="comment-rating__plus plus">

                    </a>
                    <span class="comment-rating__number rating">
                        4
                    </span>

                    <a href="#" class="comment-rating__minus plus plus--minus">

                    </a>
                </div>
            </div>
            <div class="text-comment">
                <span class="text-comment__content comments-text">
                    <span class="text-comment__content-author">We Had Love</span>, такое себе сравнение, ог выигрывали
                    мажоры, потом пропали, выиграли инт, ушли, пришли, поиграли на нескольких туриках (ПОЛНЫМ СОСТАВОМ),
                    выиграли инт ушли А Астралис пропускали несколько туриков но не пропускали пол года как ОГ
                </span>
            </div>
        </div>

        <div class="main-comment third-answer">
            <div class="header-comment">
                <div class="profile">
                    <div class="profile__avatar">
                        <img src="{% static 'img/comment-logo-profile.png' %}" alt="">
                    </div>

                    <div class="rewiev-wrap">
                        <div class="rewiev-wrap__title">
                            <a href="#" class="rewiev-wrap__title-author description-news description-news--author">
                                ***BFG***
                            </a>
                            <a href="#" class="rewiev-wrap__title-reply">
                                <img src="{% static 'img/reply.svg' %}" alt="" class="rewiev-wrap__title-reply-pic">
                                Ответить
                            </a>
                        </div>
                        <span class="rewiev-wrap__data-published">
                            Сегодня, 05:55
                        </span>
                    </div>
                </div>

                <div class="comment-rating">
                    <a href="#" class="comment-rating__plus plus">

                    </a>
                    <span class="comment-rating__number rating">
                        4
                    </span>

                    <a href="#" class="comment-rating__minus plus plus--minus">

                    </a>
                </div>
            </div>
            <div class="text-comment">
                <span class="text-comment__content comments-text">
                    <span class="text-comment__content-author">MenyaZvali?,</span> +1 . Астралис перед своими победами 2 или 3 года болтались в топ 5. В доте же меняют
                    состав, а уже через пару месяцев тащат топ турнир. КС на этом фоне выглядит в разы сложнее - даже
                    после одной замены команда начинает проигрывать и теряет в рейтинге 5-10 позиций, в итоге на
                    восстановление прежнего уровня уходит до полугода, а часто вернуться не удаётся, что полностью рушит
                    состав. з.ы. По поводу казахов - очень странная покупка! Состав рос, потом сделал замены и прогресса
                    0. Добавить сюда то, что с Адреном все составы довольно быстро идут на дно, кроме этого он не
                    капитан и игрок возрастной. Был бы он как karrigan в Мауз - тут ясно. Но зачем он Авангарам? Хз.
                    Форзы выглядят перспективнее сейчас.
                </span>
            </div>
        </div>
    </div>
</section>

{% endblock %}