{% extends 'base.html' %}

{% load static %}
{% block page_title %}Регистрация{% endblock %}
{% block header_profile %}
<div class="profile-nav">
    <a href="#" class="profile-nav__notofication">
        <img src="{% static 'img/bell.svg' %}" alt="Уведомления" class="profile-nav__notification-pic">
    </a>

    <a href="#" class="profile-nav__userphoto">
        <img src="{% static 'img/avatar-header.png' %}" alt="" class="profile-nav__userphohto-pic">
    </a>

    <a href="#" class="profile-nav__dropdown">
        <img src="{% static 'img/triangle.svg' %}" alt="" class="profile-nav__dropdown-pic">
    </a>

    <div class="profile-nav__submenu">
        <div class="drop-submenu">
            <div class="drop-submenu__item">
                <a href="" class="drop-submenu__item-move-profile drop-text">Перейти в профиль</a>
                <div class="drop-submenu__item-profile">
                    <a href="" class="drop-submenu__item-profile-link drop-text">
                        <img src="{% static 'img/profile.svg' %}" alt="" class="drop-submenu__item-profile-link-pic svg">
                        Профиль
                    </a>
                    <a href="" class="drop-submenu__item-profile-link drop-text">
                        <img src="{% static 'img/tournaments.svg' %}" alt="" class="drop-submenu__item-profile-link-pic svg">
                        Мои турниры
                    </a>
                    <a href="" class="drop-submenu__item-profile-link drop-text">
                        <img src="{% static 'img/profile.svg' %}" alt="" class="drop-submenu__item-profile-link-pic svg">
                        Заявки и приглашения
                    </a>
                    <a href="" class="drop-submenu__item-profile-link drop-text">
                        <img src="{% static 'img/settings.svg' %}" alt="" class="drop-submenu__item-profile-link-pic svg">
                        Настройки
                    </a>
                </div>
                <a href="#" class="drop-submenu__item-exit drop-text">Выход</a>
            </div>

        </div>
    </div>

</div>
{% endblock %}

{% block content %}

{% endblock %}