{% extends 'base.html' %}

{% load static %}
{% block page_title %}Настройки{% endblock %}
{% block header_nav %}
<nav class="left-nav__navigation">
    <a href="#" class="left-nav__navigation-link nav-text">Турниры</a>
    <a href="#" class="left-nav__navigation-link nav-text">Новости</a>
    <a href="#" class="left-nav__navigation-link nav-text">Магазин</a>
</nav>
{% endblock %}
{% block header_profile %}
<div class="profile-nav">
    <a href="#" class="profile-nav__notofication">
        <img src="{% static 'img/bell.svg' %}" alt="Уведомления" class="profile-nav__notification-pic">
    </a>

    <a href="#" class="profile-nav__userphoto">
        <img src="{% static 'img/avatar-header.png' %}" alt="" class="profile-nav__userphohto-pic">
    </a>

    <a href="#" class="profile-nav__dropdown">
        <img src="{% static 'img/triangle.svg' %}" alt="" class="profile-nav__dropdown-pic">
    </a>

    <div class="profile-nav__submenu">
        <div class="drop-submenu">
            <div class="drop-submenu__item">
                <a href="" class="drop-submenu__item-move-profile drop-text">Перейти в профиль</a>
                <div class="drop-submenu__item-profile">
                    <a href="" class="drop-submenu__item-profile-link drop-text">
                        <img src="{% static 'img/profile.svg' %}" alt=""
                            class="drop-submenu__item-profile-link-pic svg">
                        Профиль
                    </a>
                    <a href="" class="drop-submenu__item-profile-link drop-text">
                        <img src="{% static 'img/tournaments.svg' %}" alt=""
                            class="drop-submenu__item-profile-link-pic svg">
                        Мои турниры
                    </a>
                    <a href="" class="drop-submenu__item-profile-link drop-text">
                        <img src="{% static 'img/profile.svg' %}" alt=""
                            class="drop-submenu__item-profile-link-pic svg">
                        Заявки и приглашения
                    </a>
                    <a href="" class="drop-submenu__item-profile-link drop-text">
                        <img src="{% static 'img/settings.svg' %}" alt=""
                            class="drop-submenu__item-profile-link-pic svg">
                        Настройки
                    </a>
                </div>
                <a href="#" class="drop-submenu__item-exit drop-text">Выход</a>
            </div>

        </div>
    </div>

</div>
{% endblock %}

{% block content %}
<section class="profile-settings wrapper">
    <div class="left-bar">
        <div class="user-profile">
            <div class="user-item">
                <p class="user-item__nickname head-settings">
                    NickName
                </p>

                <div class="user-item__avatar">
                    <img src="{% static 'img/ava-profile.jpg' %}" alt="" class="user-item__avatar-pic">
                </div>

                <div class="user-item__status">
                    <div class="online">
                        <span class="online__text comments-text comments-text--status">
                            Не в сети
                        </span>

                    </div>
                </div>
            </div>
        </div>

        <div class="user-set">
            <nav class="setting-lists">
                <a href="" class="setting-lists__point drop-text drop-text--formtext active-link">
                    <img src="{% static 'img/set.svg' %}" alt="" class="setting-lists__point-pic svg">
                    <p class="setting-lists__point-text">
                        Настройки
                    </p>
                </a>

                <a href="" class="setting-lists__point drop-text drop-text--formtext">
                    <img src="{% static 'img/tournamets.svg' %}" alt="" class="setting-lists__point-pic svg">
                    <p class="setting-lists__point-text">
                        Уведомления
                    </p>
                </a>

                <a href="" class="setting-lists__point drop-text drop-text--formtext">
                    <img src="{% static 'img/team.svg' %}" alt="" class="setting-lists__point-pic svg">
                    <p class="setting-lists__point-text">
                        Команда
                    </p>
                </a>
            </nav>
        </div>
    </div>

    <div class="right-bar">
        <div class="right-bar__headline">
            <p class="right-bar__headline-text drop-text drop-text--formtext">Настройки</p>
        </div>

        <div class="setting-content">
            <div class="info-header">
                <div class="info-header__tab drop-text drop-text--formtext">
                    Информация
                </div>

                <div class="info-header__tab drop-text drop-text--formtext">
                    Смена пароля
                </div>
            </div>

            <div class="setting-tab">
                <form action="" class="personal-data">
                    <div class="personal-data__headline">
                        <img src="{% static 'img/personal-data.svg' %}" alt="" class="personal-data__headline-pic">
                        <p class="personal-data__headline-text head-settings head-settings--personal">
                            Личные данные
                        </p>
                    </div>

                    <div class="list-input">
                       <div class="input-point point-full-width">
                        <label for="">asdfasdfasdfasdf</label>
                        <input type="text">
                       </div> 

                       <div class="input-point">
                        <label for="">asdfasdfasdfasdf</label>
                        <input type="text">
                       </div> 
                       <div class="input-point">
                        <label for="">asdfasdfasdfasdf</label>
                        <input type="text">
                       </div> 
                       <div class="input-point">
                        <label for="">asdfasdfasdfasdf</label>
                        <input type="text">
                       </div> 
                       <div class="input-point">
                        <label for="">asdfasdfasdfasdf</label>
                        <input type="text">
                       </div> 
                       <div class="input-point">
                        <label for="">asdfasdfasdfasdf</label>
                        <input type="text">
                       </div> 
                       <div class="input-point">
                        <label for="">asdfasdfasdfasdf</label>
                        <input type="text">
                       </div> 
                    </div>
                </form>
                <div class="social">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto quas quae dicta amet at molestiae minima fugiat quaerat illo atque natus ut, incidunt odio ipsum, doloribus numquam, quibusdam asperiores voluptate.
                </div>

            </div>
        </div>


    </div>
    </div>
</section>


{% endblock %}